In [5]:
import pandas as pd

In [6]:
df=pd.read_csv(r"A:\THENMOZHI\100data_set\credit_card_fraud\creditcard.csv")

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [7]:
df=df.drop_duplicates()

In [10]:
df.shape

(283726, 31)

In [7]:
df.to_csv("cleaned_creditcard_fraud_detection.csv",index=False)

In [8]:
from sklearn.preprocessing import StandardScaler

In [16]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [9]:
scaler=StandardScaler()
df[["Time","Amount"]]=scaler.fit_transform(df[["Time","Amount"]])

In [19]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.996823,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244200,0
1,-1.996823,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342584,0
2,-1.996802,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.158900,0
3,-1.996802,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.139886,0
4,-1.996781,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073813,0

In [21]:
df["Class"].value_counts()

Class
0    283253
1       473
Name: count, dtype: int64

In [10]:
x=df.drop("Class",axis=1)
y=df["Class"]

In [11]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split


smote=SMOTE(random_state=42)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train_resample,y_train_resample=smote.fit_resample(x_train,y_train)

In [27]:
y_train_resample.value_counts()

Class
0    226599
1    226599
Name: count, dtype: int64

In [13]:
from sklearn.metrics import classification_report,confusion_matrix

In [29]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
model.fit(x_train_resample,y_train_resample)
y_predict=model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       1.00      0.97      0.99     56654
           1       0.05      0.93      0.10        92

    accuracy                           0.97     56746
   macro avg       0.53      0.95      0.55     56746
weighted avg       1.00      0.97      0.99     56746

In [17]:
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier

In [18]:
model=RandomForestClassifier(n_estimators=30,max_depth=10,n_jobs=1)
model.fit(x_train_resample,y_train_resample)
y_predict=model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56873
           1       0.43      0.79      0.55        89

    accuracy                           1.00     56962
   macro avg       0.71      0.89      0.78     56962
weighted avg       1.00      1.00      1.00     56962

In [34]:
model=GradientBoostingClassifier(n_estimators=50,max_depth=3,learning_rate=0.1)
model.fit(x_train_resample,y_train_resample)
y_predict=model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99     56654
           1       0.07      0.91      0.13        92

    accuracy                           0.98     56746
   macro avg       0.54      0.95      0.56     56746
weighted avg       1.00      0.98      0.99     56746

In [14]:
from sklearn.svm import LinearSVC

model=LinearSVC(class_weight="balanced",max_iter=5000)
model.fit(x_train_resample,y_train_resample)
y_predict=model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99     56873
           1       0.07      0.90      0.13        89

    accuracy                           0.98     56962
   macro avg       0.53      0.94      0.56     56962
weighted avg       1.00      0.98      0.99     56962

In [19]:
#heparameter tuning for randomforest

from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

random_parm={
    "n_estimators":randint(50,100),
    "max_depth":randint(5,10),
    "min_samples_split":randint(2,10),
    "min_samples_leaf":randint(1,5)
}

random_search=RandomizedSearchCV(
    model,
    random_parm,
    n_iter=10,
    cv=3,
    n_jobs=-1,
    scoring="f1"

)
random_search.fit(x_train_resample,y_train_resample)
best_model=random_search.best_estimator_
y_predict=best_model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56873
           1       0.41      0.82      0.55        89

    accuracy                           1.00     56962
   macro avg       0.70      0.91      0.77     56962
weighted avg       1.00      1.00      1.00     56962